* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    background-image: url("../Img/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
  }
  
  .main-main-container-css {
    padding: 0px;
  }

  .DA-Logo-img {
    border-radius: 27rem;
    width: 6rem;
  }

  .main-learn-container-css{
    margin-top: 13.5rem;
  }
  
  .nav-butten-css {
    max-height: 5rem;
    margin-top: 0.5rem;
    width: 18.6rem;
    background-color: #76b5c5;
    border-radius: 10rem;
    font-size: 3rem;
    color: black;
    margin-left: 1rem;
    text-align: center;
  }


  @media (max-width: 1462px) {
    nav .nav-butten-css{
      font-size: 2.5rem;
      width: 16rem;
    }
  }
  
  @media (max-width: 1280px) {
    nav .nav-butten-css{
      font-size: 2.2rem;
      width: 15rem;
    }
  }
  
  @media (max-width: 1210px) {
    nav .nav-butten-css {
      font-size: 2rem;
      width: 13.4rem;
      margin-left: 0.7rem;
    }
  }
  
  @media (max-width: 1078px) {
    nav .nav-butten-css {
      font-size: 1.7rem;
      width: 11.8rem;
      margin-left: 0.5rem;
    }
  }

  @media (max-width: 951px) {
    nav .nav-butten-css {
      font-size: 1.3rem;
      width: 9.8rem;
      margin-left: 0.5rem;
    }
  }

  .Rectangle-css{
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color:#afd4ef; 
    max-width: 80%;
    margin-left: 10%;
    margin-bottom: -1.8rem;
  }
  
  .b-project-name-css{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding-bottom: 1rem;
    margin-left: 2rem;
  }
  
  .project-name-css{
    margin-left: 5%;
    font-size: 2.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .span-project-name-css{
    text-decoration: none   ;
    font-size: 2.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .button-project-name-css{
    text-decoration: none   ;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: black;
    margin-left: 5%;
  }
  