<!-- and user.is_professor -->
{% if user.is_authenticated %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Registeration</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form action="create-project" method="post">
        {% csrf_token %}
        <input type="text" value={{user.username}} name="username" placeholder="username" readonly><br>
        <input type="text" name="title" placeholder="Title"><br>
        <label for="publish_date">publish_date:</label>
        <input type="date" id="birthday" name="publish_date"><br>
        <input type="text" name="content" placeholder="content"><br>
        <label for="status">Choose a status:</label>
        <select name="status" id="status">
        <option value="open">Open</option>
        <option value="closed">Closed</option>
        </select><br>
        <input type="text" name="total_applications" placeholder="total_applications"><br>
        <input type="Submit">
    </form>

    <div>
        {% for message in messages %}
        <h3> {{message}}  </h3>
        {% endfor %}
    </div>

</body>
</html>
{% else %}	
<h1>Page not found.</h1>
{% endif %}
