{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DA-IICT Students Academic Projects Management System</title>
    <link rel="stylesheet" href="{%static 'CSS/Display.css' %}" />

    <style>
        @import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
    </style>
</head>

<body>

    <div class="container">
        <!--Display Page start-->
        <div id="Back-id">
            <div class="daiictprojectname">
                <p class="textbox">
                 Students Academic Projects Management System
                </p>
            </div>
            <div class="da-logo-outer">
                <img src="{%static 'Img/DA - Logo.jpg' %}" alt="DA-IICT Logo" class="daiict-logo-img" />
            </div>
        
            <div class="studentlogin-outer">
                <button class="studentlogin" >
                    <a class="studentlogin-in-css" href="register">Register</a>
                </button>
            </div>
            <div class="professerlogin-outer">
                <button class="professorlogin" >
                    <a class="professorlogin-in-css"  href="login"> Login</a>
                </button>
            </div>
        </div>
       <!--Display Page End-->
    </div>
</body>

</html>