{% if user.is_authenticated  %}
<!-- {{all_projects.all.count}} -->
    <h1>All the projects of user:{{user.username}}</h1>
    <form action="myprojects" method="post">
    {% csrf_token %}
    <input type="text" name="search_value" placeholder="search" value="search"><br>
    <input type="Submit">
    </form>

    <!-- <button><a  href="requests">pending requests</a></button> -->

    {% for a in all_projects%}
        {{a.title}}
        {{a.slug}}
        {{a.content}}
        {{a.author}}
        {{a.publish_date}}<br>
        <a href="{% url 'project' a.slug%}">view more </a><br>
        <a href="{% url 'project-edit' a.slug%}">edit </a><br>
        <a href="{% url 'project-delete' a.slug%}">delete </a><br><br>
    {%endfor%}
{% else %}	
    <h1>Page not found.</h1>
{% endif %}