{% extends 'myBase.html'%}

{% load static %}

{%block block1%}
<title>Notifications</title>
<link rel="stylesheet" href="{%static 'CSS/notifications.css' %}">
{%endblock block1%}
{%block block2%}

 <!--Main Section Start-->
 <div class="container rounded main-learn-container-css">
    <!--Project Progress Table Start-->

    <span class="project-progress-table-css" style="padding-top: 20rem; font-size:4rem">
        Notifications:
    </span>
{% for a in q%}
   <!--Notification Start-->
    <div class="card Rectangle-css" style="background-color: bue;">
        <div class="card-body">
            <p class="card-text project-name-css">
                <b class="span-project-name-css">{{a.content}}</b>
                <p class="b-project-name-css">{{a.moment}}</p>
            </p>
        </div>
    </div>
    <!--Notifucation End-->
{%endfor%}
    <!--Main Section End-->

{%endblock block2%}