{% extends 'myBase.html'%}

{% load static %}

{%block block1%}
<title>My Profile</title>
<link rel="stylesheet" href="{%static 'CSS/Profile.css' %}">
{%endblock block1%}
{%block block2%}

<!--Profile start-->
<div class="main-Profile-container-css">
    <span class="profile-edit-css">
        <b>Profile</b>
    </span>
    <span style="margin-left: 60%;">
        <button class="btn profile-button edit-butten-css"
            style="font-size: 3rem; border-radius: 2rem; padding-top: 0rem;" type="submit">
            <a href="{% url  'profile-edit' u.id %}" style="color: black; text-decoration: none;">
                Edit </a>
        </button></span>
</div>

<div class="container rounded">
    <div class="row">
        <div class=" border-right img-canter-css" style="float: left; ">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" style="border-radius: 150px; width:100%; float:left;"
                    src="{%static 'Img/image.png' %}">
            </div>
        </div>



        <div class="col-css">
            <div class="col-md-12 col-name-line-css" style="font-size: 3rem;">
                <label class="labels" style="width: 17rem;">First name: </label>
                <tr>
                    <span style="margin-left: 2rem;">{{u.first_name}}
                    </span>
                </tr>
            </div>

            <div class="col-md-12 col-name-line-css" style="font-size: 3rem;">
                <label class="labels" style="width: 17rem;">Last name: </label>
                <tr>
                    <span style="margin-left: 2rem;">{{u.last_name}}
                    </span>
                </tr>
            </div>

            <div class="col-md-12 col-name-line-css" style="font-size: 3rem;">
                <label class="labels" style="width: 17rem;"> Email ID: </label>
                <tr>
                    <span style="margin-left: 2rem;">{{u.email}}
                    </span>
                </tr>
            </div>

            {%if q.is_student%}
            <div class="col-md-12 col-name-line-css" style="font-size: 3rem;">
                <label class="labels" style="width: 17rem;">course: </label>
                <tr>
                    <span style="margin-left: 2rem;">{{q.course}}
                    </span>
                </tr>
            </div>

            
            <div class="col-md-12 col-name-line-css" style="font-size: 3rem;">
                <label class="labels" style="width: 17rem;">CPI: </label>
                <tr>
                    <span style="margin-left: 2rem;">{{q.cpi}}
                    </span>
                </tr>
            </div>
            {%endif%}
        </div>
    </div>
</div>
<!--Profile End-->
{%endblock block2%}
