{% extends 'myBase.html'%}

{% load static %}

{%block block1%}
<title> Project Edit</title>
<link rel="stylesheet" href="{%static 'CSS/createproject.css' %}">
{%endblock block1%}
{%block block2%}

<!-- Main section start-->
<form action="edit" method="post">
    {% csrf_token %}
    <div class="container rounded main-learn-container-css">
        <div class="row">
            <div class="col-css">
                <div class="col-md-12 col-name-line-css" style="font-size: 2.2rem;">
                    <label class="labels" style="width: 24rem;">Project Name: </label>
                    <tr>
                        <input class="input-box-css" style="height: 8.5rem;" type="text" name="title" value="{{post.title}}" placeholder="">
                    </tr>
                </div>

                <div class="col-md-12 col-name-line-css" style="font-size: 2.2rem;">
                    <label class="labels" style="width: 24rem;"> Project Info.: </label>
                    <tr>
                        <input class="input-box-css" style="height: 13rem;" type="text" name="content" placeholder="" value="{{post.content}}">
                    </tr>
                </div>

                <div class="col-md-12 col-name-line-css" style="font-size: 2.2rem;">
                    <label class="labels" style="width: 24rem;">Student Required: </label>
                    <tr>
                        <input class="input-box-css" placeholder="" type="number" name="students_required" value="{{post.students_required}}">
                    </tr>
                </div>

                <div class="col-md-12 col-name-line-css" style="font-size: 2.2rem;">
                    <label class="labels" style="width: 24rem;">Registration End Date: </label>
                    <tr>
                        <input class="input-box-css" type="date" name="publish_date">
                    </tr>
                </div>

                <div class="col-md-12 col-name-line-css" style="font-size: 2.2rem; ">
                    <label class="labels" style="width: 24rem; margin-top:1rem">Choose a status: </label>
                    <span class="dropdown-outer-css">
                        <span class="dropdown">
                            <select name="status" id="status">
                                <option value="open">Open</option>
                                <option value="closed">Closed</option>
                            </select><br>
                        </span></span>
                </div>

                <div class="col-md-12 col-name-line-css" style="font-size: 2.2rem;">
                    <label class="labels" style="width: 24rem;">Grade: </label>
                    <tr>
                        <input class="input-box-css" placeholder="" type="number" name="grade" value="{{post.grade}}">
                    </tr>
                </div>

                <div class="main-Profile-container-css">
                    <span>
                        <button class="btn profile-button edit-butten-css"
                            style="font-size: 2.2rem; border-radius: 3rem; padding-top: 0rem; background-color: #18B17A;"
                            type="Submit">
                            Save Project
                        </button></span>
                </div>

            </div>
    
        </div>
    </div>
</form>
<!--main section End-->

{%endblock block2%}