{% extends 'myBase.html'%}

{% load static %}

{%block block1%}
<title>Notify the team</title>
<link rel="stylesheet" href="{%static 'CSS/notifyteam.css' %}">
{%endblock block1%}
{%block block2%}
<form action="{% url 'project-notification-create' slug%}" method="post">
    {% csrf_token %}
<!-- Main section start-->
<div class="container rounded main-learn-container-css">
    <!--Message area start-->
    <div class="col-md-12 col-name-line-css" style="font-size: 3rem;">
        <p class="labels" style="width: 24rem;">
           <b>Message:</b> 
        </p>
        <tr>
            <input class="input-box-css" style="height: 10rem;"   name="agenda" placeholder="agenda" >
        </tr>
    </div>
    <!--Message area End-->

    <!--Notify button start-->
    <div class="main-Profile-container-css">
        <span>
            <button class="btn profile-button edit-butten-css"
                style="font-size: 2.2rem; border-radius: 3rem; padding-top: 0rem; 
                background-color: #18B17A;" type="submit">
                <a style="color: black; text-decoration: none;">
                   <b> Notify Team </b>
                </a>
            </button>
        </span>
    </div>
    <!--Notify button End-->
</div>
</form>

{%endblock block2%}