{% if user.is_authenticated %}
    projects/{{post.slug}}<br>
    title:{{post.title}}<br>
    content{{post.content}}<br>
    author{{post.author}}<br>
    date:{{post.publish_date}}<br>
    status:{{post.status}}<br>
    total_applications:{{post.total_applications}}<br>
    {%if is_student%}
        {% if setted_status == 0 %}
            <form action="" method="post">    
                {% csrf_token %}
                <input type="hidden" name="accept_status" placeholder="accept_status" value="apply"><br>
                <button type="Submit">Apply</button>
            </form>
        {% elif setted_status == 1 %}
            <form action="" method="post">    
                {% csrf_token %}
                <input type="hidden" name="accept_status" placeholder="accept_status" value="withdraw"><br>
                <button type="Submit">withdraw</button>
            </form>
        {% else %}
            <h3>request pending</h3>
        {%endif%}
    {%endif%}

{% else %}	
    <h1>Page not found.</h1>
{% endif %}