{% if user.is_authenticated %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Registeration</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <!-- vimp action="edit" -->
    <form action="edit" method="post">
        {% csrf_token %}
        <input type="text" value={{user.username}} name="username" placeholder="username" readonly><br>
        <input type="text" value="{{post.title}}" name="title" placeholder="Title" readonly><br>
        <label for="publish_date">publish_date:</label>
        <input type="date" id="publish_date" name="publish_date" > <br> <!-- value"{{post.publish_date}} gives yyyy--mm--dd formate error"" required pattern="\d{4}-\d{2}-\d{2}-->
        <input type="text" name="content" placeholder="content" value="{{post.content}}"><br> <!-- dont forget the "" in value-->
        <label for="status">Choose a status:</label>
        <select name="status" id="status">
        <option value="open">Open</option>
        <option value="closed">Closed</option>
        </select><br>
        <input type="Submit">
    </form>

    <div>
        {% for message in messages %}
        <h3> {{message}}  </h3>
        {% endfor %}
    </div>

</body>
</html>
{% else %}	
<h1>Page not found.</h1>
{% endif %}
