{% extends 'myBase.html'%}

{% load static %}

{%block block1%}
<title>Add Project Progess</title>
<link rel="stylesheet" href="{%static 'CSS/AddProjectProgess.css' %}">
{%endblock block1%}
{%block block2%}

<!-- Main section start-->

<div class="main-Profile-container-css">
    <span class="profile-edit-css">
        <b>Add Project Progess</b>
    </span>
</div>
<form action="{% url 'project-mom-create' slug_text%}" method="post">
    {% csrf_token %}
<div class="container rounded main-learn-container-css">
    <div class="row">
        <div class="col-css">
            <div class="col-md-12 col-name-line-css" style="font-size: 2.5rem;">
                <label class="labels" style="width: 30rem;">Work completed date: </label>
                <tr>
                    <input class="input-box-css" type="date" id="date" name="date">
                </tr>
            </div>

            <div class="col-md-12 col-name-line-css" style="font-size: 2.5rem;">
                <label class="labels" style="width: 30rem;">Meeting agenda: </label>
                <tr>
                    <input class="input-box-css" type="text"  name="agenda" placeholder="agenda" >
                </tr>
            </div>

            <div class="col-md-12 col-name-line-css" style="font-size: 2.5rem;">
                <label class="labels" style="width: 30rem;">Meeting Description: </label>
                <tr>
                    <input class="input-box-css"type="text" name="description" placeholder="description" >
                </tr>
            </div>

            <div class="col-md-12 col-name-line-css" style="font-size: 2.5rem;">
                <label class="labels" style="width: 30rem;">Minutes of Meeting: </label>
                <tr>
                    <input class="input-box-css" type="number" name="minutes" placeholder="Minutes of meeting">
                </tr>
            </div>

            <div class="col-md-12 col-name-line-css" style="font-size: 2.5rem;">
                <label class="labels" style="width: 30rem;"> Points: </label>
                <tr>
                    <input class="input-box-css"type="number" name="points" placeholder="Points">
                </tr>
            </div>
            <!--Submit Butten Start-->
            <div class="main-Profile-butten-container-css">
                <span>
                    <button class="btn profile-button edit-butten-css"
                        style="font-size: 2.8rem; border-radius: 3rem; padding-top: 0rem; " type="submit">
                        <a style="color: black; text-decoration: none;">
                            <b>Add</b> </a>
                    </button></span>
            </div>
            <!--Submit Butten End-->
        </div>
    </div>
</form>

    <!--main section End-->

    {%endblock block2%}