<!DOCTYPE html>
<html>
<head>
<title>Google Auth</title>
<meta name="google-signin-client_id" content="225375331376-3cg85n8ls07j9toqh6et6h5mr568f7le.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
    <h1>
        demo page
    </h1>
    <div class="g-signin2"></div>
</body>
</html>


<!-- <html>
  <body>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
         data-client_id="225375331376-3cg85n8ls07j9toqh6et6h5mr568f7le.apps.googleusercontent.com"
         data-callback="handleCredentialResponse">
    </div>
    <div class="g_id_signin" data-type="standard"></div>
  </body>
</html> -->